.footer,
.push {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: calc(15px + 1vw);
  font-weight: bold;
  height: 50px;
}

@media (max-width: 960px) {
  .footer {
    font-size: 1.8em;
    margin-left: .35em;
  }
}