.header-text {
  padding-bottom: 10px;
}

.header-logo {
  float: left;
  display: inline;
  padding: 0 20px;
}

.header-nav {
  float: right;
  vertical-align: baseline;
  line-height: 36px;
}

.header-nav-item {
  list-style: none;
  padding: 20px 8px;
  margin: 0;
  display: inline-block;
}

.header-nav-link {
  text-decoration: none;
  color: #151515;
  font-weight: bold;
}

.header-nav-link:hover {
  color: #333;
  transition: all ease .3s;
}

@media (max-width: 640px) {
  .header {
    position: inherit;
    width: auto;
    top: auto;
    float: none;
  }
  
  .header-logo {
    width: 90%;
  }
  
  .header-nav-item {
    padding: 20px 4px;
  }

  .header-nav {
    float: none;
  }
}

@media (max-width: 495px) {
  .header {
    position: absolute;
    float: none;
  }

  .header-nav-item, .intro {
    display: none;
  }
  
  .header-nav {
    float: none;
    padding-bottom: 42px;
  }
}