body {
  max-width: 56em;
  margin: auto;
  background-color: #f6f5f3;
}

.wrapper  {
  font-size: calc(10px + 1vw);
  font-family: "PT Sans", "Arial", sans-serif;
  overflow: hidden;
  padding: 0;
  margin-top: .35em;
  margin-left: .35em;
  margin-right: .35em;
}

.content {
  background-color: #f6f5f3;
  padding-top: .1em;
}

.leftimg, .rightimg {
  position: static;
  display: block;
  width: 45%;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 30px;
  padding: .4em;
  align-items: left;
  justify-content: center;
}

.leftimg, .leftimg_delivery {
  float: left;
}

.rightimg {
  float: right;
}

.leftimg_delivery {
  width: 50%;
  float: center;
}

.booklet {
  width: 90%;
}

.intro-scroll2 {
  width: 177%;
}

.header-logo {
  width: 45%;
}

.various-text {
  line-height: 1.5em;
  font-weight: bold;
  margin: .4em;
}

.text-center {
  text-align: center;
}

.column-text {
  line-height: 1.5em;
  font-weight: bold;
  margin: .4em;
}

.note {
  border-left: 85px solid black;
  font-family: Georgia, Helvetica, serif;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 15px 10px 45px;
  background-color: #EDDCC0;
  border-radius: 30px;
}

.list-title-various-text {
  line-height: 1.5em;
  font-weight: bold;
  margin-top: .4em;
  margin-top: .8em;
  font-size: calc(18px + 1vw);
}

.note_title {
  color: #7D1424;
}

.list-title {
  padding: 1em .3em 0em 0em;
  margin: .2em  3em 0em 0em;
}

.list-link {
  padding: 1.5em 0em 1.5em 0em;
}

.mobileshow {
  display: inline;
} 

.star {
/*for future*/
}

@media (max-width: 960px) {
  .wrapper, .list-title-various-text {
    font-size: 2em;
  }

  .mobileshow {
    display: none;
  }

@media (max-width: 640px) {
  .wrapper, .list-title-various-text {
    font-size: 2em;
  }

  .leftimg, .rightimg, .leftimg_delivery {
    width: 50%;
    max-width: 50%;
  }
}

@media (max-width: 480px) {
  .wrapper, .list-title-various-text {
    font-size: 2em;
  }

  .leftimg, .rightimg, .leftimg_delivery {
    width: 50%;
    max-width: 33.33%;
  }
}