body {
  max-width: 56em;
  margin: auto;
  background-color: #f6f5f3;
  overflow-x: hidden;
}

.wrapper {
  font-size: calc(10px + 1vw);
  font-family: "PT Sans", "Arial", sans-serif;
  overflow: hidden;
  padding: 0;
  margin-top: .35em;
  margin-left: .35em;
  margin-right: .35em;
}

.content {
  background-color: #f6f5f3;
  padding-top: .1em;
}

.leftimg, .rightimg {
  position: static;
  display: block;
  width: 45%;
  margin-left: 0;
  margin-right: 0;
  border-radius: 30px;
  padding: .4em;
  justify-content: center;
}

.leftimg {
  float: left;
}

.rightimg {
  float: right;
}

.booklet {
  width: 90%;
  border-radius: 30px;
}

.special {
  width: 40%;
}

.photo {
  width: 40%;
  margin-top: calc(24px + 1vw);
}

.header-logo {
  width: 45%;
}

.title {
  font-size: calc(20px + 1vw);
}

.title-text {
  text-align: center;
  justify-content: space-between;
}

.various-text {
  line-height: 1.5em;
  font-weight: bold;
  margin-bottom: 1vw;
}

.sticker-text {
  line-height: 1.5em;
  font-weight: bold;
  margin-top: 1vw;
}

.text-center {
  text-align: center;
}

.column-text {
  line-height: 1.5em;
  font-weight: bold;
  margin: .4em;
}

.note {
  font-family: Georgia, Helvetica, serif;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 10px 15px 10px 45px;
  background-color: #EDDCC0;
  border-radius: 30px;
}

.list-title-various-text {
  line-height: 1.5em;
  font-weight: bold;
  margin-top: .4em;
  margin-top: .8em;
  font-size: calc(18px + 1vw);
}

.note_title {
  color: #7D1424;
}

.list-title {
  padding: 1em .3em 0em 0em;
  margin: .2em .3em 0em 0em;
}

.list-link {
  padding: 1.5em 0em 1.5em 0em;
}

.details {
  margin-bottom: calc(18px + 1vw);
}

.clients-image, .clients-text {
  columns: 1; 
/*  -moz-columns: 1;
-webkit-columns: 1;*/
}

.clients-text {
  line-height: calc(18px + 5vw);
}

.clients-image-border-radius {
  border-radius: 30px;
  width: 45%;
}

.clients-various-text {
  margin-top: 10px;
  top: 10px; 
  line-height: 1.5em;
  font-weight: bold;
  padding-top: calc(18px + 2vw);
}

.clients {
  margin-top: calc(18px + 1vw);
}

.special-text {
  padding-top: calc(40px + 2vw);
}

.text-center {
  text-align: center;
}

.mobileShow {
  display: inline;
} 

.intro {
  margin-top: calc(120px + 1vw);
  height: calc(120px + 10vw);
}

.star {
  /*for future*/
}

@media (max-width: 960px) {
  .wrapper, .list-title-various-text {
    font-size: 2em;
  }

  .mobileShow {
    display: none;
  }

  .title-text {
    display: none;
  }

  .photo {
    margin-top: calc(32px + 1vw); 
  }

  .buffer {
    margin: 20px;
  }
}

@media (max-width: 640px) {
  .note {
    margin-top: calc(45px + 10vw);
  }

  .wrapper, .list-title-various-text {
    font-size: 2em;
  }

  .leftimg, .rightimg {
    width: 50%;
    max-width: 50%;
  }

  .special {
    margin-top: 1vw;
    width: 30%;
  }

  .photo {
    margin-top: 1vw;
  }

  .intro {
    display: none;
    width: 0;
  }
}

@media (max-width: 480px) {
  .wrapper, .list-title-various-text {
    font-size: 2em;
  }

  .leftimg, .rightimg {
    width: 50%;
    max-width: 50%;
    min-width: calc(150px + 35vw);
  }

  .clients-image-border-radius {
    width: calc(32px + 50vw); 
  }

  .special {
    width: 45%;
  }
}